<footer>
    <div id="foter">
        <div id="suport">
           <p>
                <b>
                    Support
                </b>
            </p>
                <p> 
                    <a href="#" class="fat"> 
                        Centre 
                    </a>
                </p>
                    <p> 
                        <a href="#" class="fat"> 
                            Get help with a safety issue    
                        </a>    
                    </p>
                        <p> 
                            <a href="#" class="fat"> 
                                AirCover    
                            </a>    
                        </p>
                            <p> 
                                <a href="#" class="fat"> 
                                    Anti-discrimination 
                                </a> 
                            </p>
                                <p> 
                                    <a href="#" class="fat"> 
                                        Disability support  
                                    </a>    
                                </p>
                                    <p> 
                                        <a href="#" class="fat"> 
                                            Cancellation options    
                                        </a>    
                                    </p>
                                        <p>  
                                            <a href="#" class="fat">    
                                                Report neighbourhood concern    
                                            </a>    
                                        </p>
            </div>

                        <div id="hosting">
                            <p>
                                <b>
                                    Hosting
                                </b>
                            </p>
                                <p>  
                                    <a href="#" class="fat">    
                                        Airbnb your home    
                                    </a>    
                                </p>
                                    <p>  
                                        <a href="#" class="fat">    
                                            Airbnb your experience  
                                        </a>    
                                    </p>
                                            <p>  
                                                <a href="#" class="fat">    
                                                    AirCover for Hosts  
                                                </a>    
                                            </p>
                                                <p>  <a href="#" class="fat">    Hosting resources   </a>    </p>
                                                <p>  <a href="#" class="fat">    Community forum </a>    </p>
                                            <p>  <a href="#" class="fat">    Hosting responsibly </a>    </p>
                                        <p>  <a href="#" class="fat">    Join a free Hosting class   </a>    </p>
                                    <p>  <a href="#" class="fat">    Find a co‑host  </a>    </p>
                                <p>  <a href="#" class="fat">    Refer a host    </a>    </p>
                            </div>
                                    <div id="airbnb">
                                            <p><b>Airbnb</b></p>
                                                <p>  <a href="#" class="fat">  2025 Summer Release   </a>    </p>
                                                    <p>  <a href="#" class="fat">  Newsroom  </a>    </p>
                                                <p>  <a href="#" class="fat">  Careers   </a>    </p>
                                            <p>  <a href="#" class="fat">  Investors </a>    </p>
                                        <p>  <a href="#" class="fat">  Airbnb.org emergency stays    </a>    </p>   
                                    </div>
    </div>
                                            <div id="foter2">
                                                <div id="f1">
                                                    <i class="fa-regular fa-copyright"></i>2026 Airbnb, Inc.
                                                        <a href="#" class="f1a"> ·Privacy </a>
                                                        <a href="#" class="f1a"> ·Terms </a>
                                                    <a href="#" class="f1a"> ·Company details </a>
                                                </div>
                                                        <div id="f2">
                                                            <a href="#" class="f1a">
                                                                <div id="flang">
                                                                    <i class="fa-solid fa-earth-americas"></i> English (IN)
                                                                </div>
                                                            </a>
                                                                <a href="#" class="f1a">
                                                                    <div id="fcuren">
                                                                        <i class="fa-solid fa-indian-rupee-sign"></i> INR
                                                                    </div>
                                                                </a>
                                                                        <a href="#" class="f1a"> <i class="fa-brands fa-facebook"></i></a>
                                                                            <a href="#" class="f1a"> <i class="fa-brands fa-x-twitter"></i></a>
                                                                        <a href="#" class="f1a"> <i class="fa-brands fa-instagram"></i></a>
                  
                                                        </div>
                                            </div>
</footer>
